<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.game">

    <!-- Android TV does NOT require touchscreen -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Declare this app as Android TV / Leanback -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        android:banner="@drawable/banner">

        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:launchMode="singleTask">

            <!-- Android TV launcher entry -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>

    </application>
</manifest>